<!-- templates/thank-you.html -->
{% extends 'base.html' %}

{% block title %}Thank You{% endblock %}

{% block content %}
    <section id="thank-you" class="thank-you d-flex align-items-center" style="height: 100vh;">
        <div class="container text-center">
            <div class="section-title mt-3">
                <h2>Thank You!</h2>
                <p>Your message has been sent. We will contact you very soon.</p>
            </div>
        </div>
    </section>
{% endblock %}
